[Unit]
Description=Disco Ball Application

[Service]
WorkingDirectory=/home/jeff/sources/ble_disco
ExecStart=/bin/bash -c 'source ./disco/bin/activate && python3 app.py'

# Ensure the service is restarted on failure
Restart=always
RestartSec=15

# Capture stdout and stderr in the system journal
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target
